.footer {
    background-color:#212529;;
}


.text-white {
    color: #fff!important;
}

.footer a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.footer a {
    color: #fff!important;
}

.footer a {
    background-color: transparent;
    color: #284243;
    text-decoration: none;
}